*{
    padding: 0px;
    margin: 0px;

}
.container{
    display: flex;
    height: 400px;
    width: 500px;
    border: 1px solid;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* /* justify-content: flex-end; */
    justify-content: center; 
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;  */
    flex-direction: row-reverse;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* align-items: center;
    align-items: start; */
    align-items: baseline;
    align-items: space-between;
    




    align-items: center;
    align-items: flex-start;
    
    

}
.iteam{
    height: 100px;
    width: 100px;
    border: 1px solid brown;
    background-color: aqua;
    text-align: center;
    margin: 20px;
    
    


}
